:root {
	--bg-dark: #14110F;
	--bg-light: #342A21;
	--fg-light: #A4B0F5;
	--callout: #71816D;
	--callout-dark: #444D42;
	--links: #4464AD;
}

* {
	font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
	background-color: var(--bg-light);
}

html body div {
	height: 100vh;
}

html {
	overflow: hidden;
}

header {
	background-color: var(--bg-dark);
	color: white;
}

footer {
	background-color: var(--bg-dark);
	color: gray;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

ul {
	overflow: hidden;
}

a {
	color: var(--callout);
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: var(--callout);
	color: black;
}

.active {
	background-color: var(--callout-dark);
}

#stars {
	background-image: url("stars.jpg");
	background-size: cover;
	color: white;
	font-size: 18px;
}

.inner-block {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--bg-light);
	position: relative;
	top: 10%;
	height: auto;
	padding: 16px 32px;
	text-align: center;
}
