<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>{% if title == ""  %}Arcana Zero{% else %}{{ title }} | Arcana Zero{% endif %}</title>
		<link rel="stylesheet" href="/reset.css">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		{% include "header" %}
		<div>
		{% block content %}
		{% endblock content %}
		</div>

		{% include "footer" %}
	</body>
</html>
