<header>
	<ul class="navbar left">
		{% for nav in nav_links %}
		<li><a href="{{ nav.path }}" class="{% if title == nav.display or title == "" and nav.path == "/" %}active{% endif %}">{{ nav.display }}</a></li>
		{% endfor %}
	</ul>
</header>
